/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.hover-cursor{
  cursor: pointer;
}
body{
  background: #8aa5a8;
}
