$primary-color: #ffa500;
$candy-app-primary: mat-palette(#ffa500);

.trash{
  right: 16px;
  top: 10px;
  position: absolute;
  color: #d93625;
}
.container-card{
  width: 500px;
  margin: auto;
}
.finish-toggle{
  margin-right: 5px;
}

.addBtn{
  background: $primary-color;
  color: white;
}
.success{
  color: #28ac26;
}
mat-card-title{
  font-weight: bold;
  color: #ffa401;

}
.example-container{
  border-bottom: 2px solid #f1f1f1;
  margin-left: -24px;
  margin-right: -24px;
}
.input-container{
  text-align: center;
}
.todo-finished{
  text-decoration: line-through;
}
.mat-focused .mat-form-field-label {
  color: #5cb53f !important;
}

.mat-form-field-ripple {
  background-color: #5cb53f !important;
}
mat-form-field.mat-focused {
  color: $primary-color !important;
}
mat-form-field::placeholder{
}

